@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PeydaWeb SemBd";

  src: url("https://db.onlinewebfonts.com/t/f8ecf8ba4bdf80a4ba4277a3b2f702b6.eot");

  src: url("https://db.onlinewebfonts.com/t/f8ecf8ba4bdf80a4ba4277a3b2f702b6.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f8ecf8ba4bdf80a4ba4277a3b2f702b6.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/f8ecf8ba4bdf80a4ba4277a3b2f702b6.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/f8ecf8ba4bdf80a4ba4277a3b2f702b6.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/f8ecf8ba4bdf80a4ba4277a3b2f702b6.svg#PeydaWeb SemBd")
      format("svg");
}

@font-face {
  font-family: "PeydaWeb";
  src: url("https://db.onlinewebfonts.com/t/facd0c10f0712e43a8400ef99533f73f.eot");
  src: url("https://db.onlinewebfonts.com/t/facd0c10f0712e43a8400ef99533f73f.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/facd0c10f0712e43a8400ef99533f73f.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/facd0c10f0712e43a8400ef99533f73f.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/facd0c10f0712e43a8400ef99533f73f.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/facd0c10f0712e43a8400ef99533f73f.svg#PeydaWeb")
      format("svg");
}

@font-face {
  font-family: "yekan";
  src: url("../assets/YEKAN\ PLUS.TTF") format("truetype");
}

* {
  @apply box-border p-0 m-0;
}
body {
  @apply font-peyda max-w-[1920px];
}

/*********** Header styles */
.header-container {
  @apply flex flex-row justify-evenly items-center w-full h-[80px] py-[1rem] px-0;
}

.header-menu-section .menu-items ul li {
  @apply list-none cursor-pointer pl-[1.5rem];
}
.submit-add {
  @apply flex items-center ml-[-6rem] mr-[2rem] py-[0.6rem] px-[1rem] border-[1px] border-[#D8D5D5] rounded-[50px] cursor-pointer hover:bg-[#ebebeb];
}

.icon-container {
  @apply w-[2.2rem] h-[2.2rem] rounded-[50%] ml-[.7rem] bg-[#afe600];
}

/************************************ Header's submenus */
.menu-items li{
  @apply py-8
}
.car-sub-menu_top a{
  @apply p-2 cursor-pointer 
}

.car-sub-menu_top a:hover{
  @apply bg-[#f5f5f5]
}

.car-sub-menu_bottom a{
  @apply p-2 cursor-pointer text-[14px] font-peydaWeb
}

.car-sub-menu_bottom a:hover{
  @apply bg-[#f5f5f5]
}

.motor-sub-menu_top a{
  @apply p-2 cursor-pointer 
}

.motor-sub-menu_top a:hover{
  @apply bg-[#f5f5f5]
}

.motor-sub-menu_bottom a{
  @apply p-2 cursor-pointer text-[14px] font-peydaWeb
}

.motor-sub-menu_bottom a:hover{
  @apply bg-[#f5f5f5]
}

.heavy-sub-menu_top a{
  @apply p-2 cursor-pointer 
}

.heavy-sub-menu_top a:hover{
  @apply bg-[#f5f5f5]
}

.heavy-sub-menu_bottom a{
  @apply p-2 cursor-pointer text-[14px] font-peydaWeb
}

.heavy-sub-menu_bottom a:hover{
  @apply bg-[#f5f5f5]
}

.bama-sub-menu_top a{
  @apply p-2 cursor-pointer 
}

.bama-sub-menu_top a:hover{
  @apply bg-[#f5f5f5]
}

.bama-sub-menu_bottom a{
  @apply p-2 cursor-pointer text-[14px] font-peydaWeb
}

.bama-sub-menu_bottom a:hover{
  @apply bg-[#f5f5f5]
}


/************************************ below header section styles */

.top-section {
  @apply w-full h-[450px] bg-[url(../assets/top-sec.webp)] bg-no-repeat bg-center bg-cover;
}
.search-box {
  @apply w-[50%] bg-[#fff] my-[0.8rem] mx-0 py-[.7rem] px-[1.5rem] flex justify-between text-center rounded-[50px];
}

.search-items-container {
  @apply w-[57%] flex justify-evenly text-center items-center m-auto;
}
.search-items-container a {
  @apply no-underline text-[#9c9b9a] text-[16px] bg-[#fff] py-[.3rem] px-[.5rem] rounded-[20px] cursor-pointer;
}

/***************************** start of search modal */

.search-modal {
  @apply hidden fixed top-0 left-0 w-[100vw] h-auto bg-[#fff] text-[16px] overflow-y-hidden transition-all duration-[400] ease-in-out z-10;
}
.search-modal-svg img {
  @apply w-[400px] h-[400px] flex justify-center items-center mx-auto;
}
.car-toggle {
  @apply relative flex items-center px-[1.4rem] py-[1rem] rounded-[30px] cursor-pointer bg-[#f5f5f5] ml-4;
}

/*************************** Price Range Slider Style */

/*************************** Brand modal style */
.backdrop {
  @apply backdrop-blur-[10px];
}

/*************************** Price and technical widgets */
.splide{
  display: flex;
  padding: 60px 0;
  position: relative ;
  white-space: nowrap;
  overflow: hidden
}
.splide-li {
  @apply h-[120px] my-0 mx-6 ;
}


.splide-info{
  @apply flex flex-col mt-4 mb-1
}

.splide-title{
  @apply text-[12px] text-[#1f1f1e]
}
.splide-price{
  @apply flex items-center
}
.splide-container {
  display: flex;
  animation: 22s slide infinite linear;
}
@keyframes slide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.splide:hover .splide-container {
  animation-play-state: paused;
}
.splide::before {
  left: 0;
}
.splide::after {
  right: 0;
}

.splide::before,
.splide::after {
  position: absolute;
  top: 0;
  width: 1rem;
  height: 100%;
  content: "";
  z-index: 2;
}


@media (max-width: 900px) {
  .fav-cars-sec div:nth-of-type(2) {
    @apply flex pr-4;
  }
  .fav-cars-sec a {
    @apply pl-3;
  }
}
/* @media (max-width: 900px) {
  .profile-text,
  .profile-icon,
  .menu-items {
    display: none;
  }

  .hamburger-button {
    display: block;
    border: none;
    cursor: pointer;
  }

  .hamburger-button i {
    font-size: 3rem;
  }

  .sub-menu {
    height: 100vh;
  }

  .top-section {
    background-image: url(../assets/top-sec-smaller.jpg);
  }
} */
