@font-face {
  font-family: "PeydaWeb SemBd";
  src: url("https://db.onlinewebfonts.com/t/f8ecf8ba4bdf80a4ba4277a3b2f702b6.eot");
  src: url("https://db.onlinewebfonts.com/t/f8ecf8ba4bdf80a4ba4277a3b2f702b6.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f8ecf8ba4bdf80a4ba4277a3b2f702b6.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/f8ecf8ba4bdf80a4ba4277a3b2f702b6.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/f8ecf8ba4bdf80a4ba4277a3b2f702b6.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/f8ecf8ba4bdf80a4ba4277a3b2f702b6.svg#PeydaWeb SemBd")
      format("svg");
}

:root {
  --primary-color: #afe600;
  --secondary-color: #3e1ffa;
  --white: #fff;
  --smoke-color: #ebebeb;
  --red: #cd204a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  max-width: 1920px;
  height: 100vh;
  font-family: "PeydaWeb SemBd";
  font-size: 20px;
  direction: rtl;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 1rem 0;
}
.header-menu-section {
  position: relative;
  left: 10%;
}
.menu-items {
  position: relative;
  display: inline-block;
}
.menu-items ul li:first-child:hover .car-sub-menu {
  display: block !important;
}
.header-menu-section .menu-items ul {
  display: flex;
  flex-direction: row;
}

.header-menu-section .menu-items ul li {
  list-style: none;
  cursor: pointer;
  padding-left: 1.5rem;
}

.header-logo {
  position: fixed;
}
.header-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-section {
  display: flex;
  align-items: center;
}
.submit-add {
  display: flex;
  align-items: center;
  margin-left: -6rem;
  margin-right: 2rem;
  padding: 0.8rem 1rem;
  border: 1px solid rgb(216, 213, 213);
  border-radius: 50px;
  cursor: pointer;
}
.submit-add:hover {
  background-color: var(--smoke-color);
}
.icon-container {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-left: 1rem;
}
.submit-add i {
  font-size: 2rem;
  position: relative;
  right: 22%;
  top: 15%;
}
.button-profile-icon {
  width: 2rem;
  height: 2rem;
  display: flex;
}
.profile-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-text i {
  padding-right: 0.7rem;
}
.hamburger-button {
  display: none;
}

.ride-sub-menu {
  background-color: #afe600;
}
.car-sub-menu {
  display: none;
}
.ride-sub-menu {
  display: none;
}
.menu-items li:first-child:hover .car-sub-menu,
.menu-items li:first-child:hover .car-sub-menu {
  display: block;
}

.menu-items li:nth-child(2):hover .ride-sub-menu,
.menu-items li:nth-child(2):hover .ride-sub-menu {
  display: block;
}

/************************************ end of header */

.top-section {
  width: 100%;
  height: 495px;
  background-image: url(../assets/top-sec.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.search-container {
  display: flex;
  justify-content: center;
}
.search-box {
  width: 45%;
  background-color: var(--white);
  margin: 0.8rem 0;
  padding: 1rem 1.5rem;
  display: flex;
  border-radius: 50px;
  justify-content: space-between;
  text-align: center;
}

.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #afe600;
  display: none;
  z-index: 10;
}
.search-box p {
  opacity: 0.5;
}

.search-items-container {
  display: flex;
}
@media (max-width: 900px) {
  .profile-text,
  .profile-icon,
  .menu-items {
    display: none;
  }
  .hamburger-button {
    display: block;
    border: none;
    cursor: pointer;
  }
  .hamburger-button i {
    font-size: 3rem;
  }
  .sub-menu {
    height: 100vh;
  }
  .top-section {
    background-image: url(../assets/top-sec-smaller.jpg);
  }
}
